.form-label {
  position: relative;
  text-align: left;
  font-weight: 600;
  font-size: 0.8rem;
  line-height: 11px;
  font-family: $font-family-secondary;
  color: $color-grey-700;
  padding: 0 0 8px 2px;
  display: inline-block;
}