/**
 * Component: Tooltip
 */

$cubic: cubic-bezier(.64,.09,.08,1);

.kf-tooltip {
  position: relative;
  box-sizing: border-box;

  &:after {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    white-space: pre;
    content: attr(data-tooltip);
    padding: 10px 10px;
    top: 3.2em;
    left: 50%;
    transform: translateX(-50%) translateY(-5px);
    background: $color-grey-800;
    color: white;
    z-index: 9999;
    border-radius: 3px;
    transition: opacity 0.2s $cubic, transform 0.2s $cubic;
    font-size: 1rem;
    font-family: $font-family-primary;
    font-weight: 500;
    margin: 0;
    line-height: 1rem;
    text-transform: initial;
    pointer-events: none;
  }
  &:hover {
    &:after {
      display: block;
      opacity: 1;
      visibility: visible;
      transform: translateX(-50%) translateY(0);
      -webkit-transition-delay: 500ms;
      -moz-transition-delay: 500ms;
      -o-transition-delay: 500ms;
      transition-delay: 500ms;
    }
  }
}

.kf-tooltip.kf-tooltip-left {
  &:after {
    bottom: -3px;
    left: 0;
    transform: translateX(-100%) translateY(0);
  }
  &:hover {
    &:after {
      transform: translateX(calc(-100% - 1.0em)) translateY(0);
    }
  }
}

.kf-tooltip.kf-tooltip-right {
  &:after {
    top: -3px;
    left: 100%;
    transform: translateX(0) translateY(0);
  }
  &:hover {
    &:after {
      transform: translateX(1.0em) translateY(0);
    }
  }
}

.kf-tooltip.kf-tooltip-triangle {
  &:before {
    content: '';
    width: 0;
    height: 0;
    border-left: solid 5px transparent;
    border-right: solid 5px transparent;
    border-bottom: solid 5px grey;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    transform: translateX(-50%) translateY(-2px);
    top: 1.1em;
    left: 50%;
    transition: opacity 0.2s $cubic, transform 0.2s $cubic;
    z-index: 3;
  }
  &:hover {
    &:before {
      display: block;
      opacity: 1;
      visibility: visible;
      transform: translateX(-50%) translateY(0);
    }
  }
}

.tooltip {
  display: block !important;
  z-index: 10000;
}

.tooltip .tooltip-inner {
  background: $color-grey-800;
  color: white;
  padding: 5px 10px 4px;
}

.tooltip .tooltip-arrow {
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  margin: 5px;
  border-color: $color-grey-800;
}

.tooltip[x-placement^="top"] {
  margin-bottom: 5px;
}

.tooltip[x-placement^="top"] .tooltip-arrow {
  border-width: 5px 5px 0 5px;
  border-left-color: transparent !important;
  border-right-color: transparent !important;
  border-bottom-color: transparent !important;
  bottom: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}

.tooltip[x-placement^="bottom"] {
  margin-top: 5px;
}

.tooltip[x-placement^="bottom"] .tooltip-arrow {
  border-width: 0 5px 5px 5px;
  border-left-color: transparent !important;
  border-right-color: transparent !important;
  border-top-color: transparent !important;
  top: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}

.tooltip[x-placement^="right"] {
  margin-left: 5px;
}

.tooltip[x-placement^="right"] .tooltip-arrow {
  border-width: 5px 5px 5px 0;
  border-left-color: transparent !important;
  border-top-color: transparent !important;
  border-bottom-color: transparent !important;
  left: -5px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0;
}

.tooltip[x-placement^="left"] {
  margin-right: 5px;
}

.tooltip[x-placement^="left"] .tooltip-arrow {
  border-width: 5px 0 5px 5px;
  border-top-color: transparent !important;
  border-right-color: transparent !important;
  border-bottom-color: transparent !important;
  right: -5px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0;
}

.tooltip[aria-hidden='true'] {
  visibility: hidden;
  opacity: 0;
  transition: opacity .15s, visibility .15s;
}

.tooltip[aria-hidden='false'] {
  visibility: visible;
  opacity: 1;
  transition: opacity .15s;
}
